body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

.monospace {
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.no-wrap {
    white-space: nowrap;
}
.flex-noshrink {
    flex-shrink: 0;
}
.flex-nowrap {
    flex-wrap: nowrap;
}
.one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.flex-0 {
    flex: 0;
}
.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}

.border-white-1 {
    border: 1px solid #ccc;
}
.border-gray-1 {
    border: 1px solid #555;
}
.border-black-1 {
    border: 1px solid #000;
}
.border-left-1 {
    border-left: 1px solid #000;
}
.border-right-1 {
    border-right: 1px solid #000;
}

/* Dashboard-mode */
body.dashboard {
    background-color: #000;
}
body.dashboard .card {
    background-color: #fff;
}
body.dashboard .body-content-dashboard > .main-container > h1 {
    color: #fff;
}

/* TeamBoard */

.card-header dl, .card-header dt, .card-header dd {
    margin: 0;
    padding: 0;
}
.teamboard-meta dl {
    flex-basis: 100px;
    margin: 0.25rem 0.25rem;
}
.teamboard-meta-score dl {
    flex-basis: 130px;
    margin: 0.25rem 0.25rem;
}
.teamboard-unassigned-score .list-group-item, .teamboard-all-scores .list-group-item {
    padding: 0.25rem 0.5rem;
}
.teamboard-player .list-group-item {
    padding: 0.1rem 0.25rem;
}
.teamboard-player-column {
    padding-left: 10px;
    padding-right: 10px;
}
.teamboard-player-image {
    border: 1px solid #888;
    height: 44px;
    width: 44px;
}
.teamboard-player-first .teamboard-player-header {
    background-color: #ffd700;
}
.teamboard-player-second .teamboard-player-header {
    background-color: #c0c0c0;
}
.teamboard-player-third .teamboard-player-header {
    background-color: #cd7f32;
}
.teamboard-player {
    border-color: #333;
    height: 100%;
}
.teamboard-player .card-header, .teamboard-player .card-block {
    padding: .5rem 0.75rem
}
.teamboard-player-block dl, .teamboard-player-block dt, .teamboard-player-block dd {
    margin: 0;
}
.teamboard-player-score-block {
    border: 1px solid #999;
    padding: 0.25rem 0;
}
.teamboard-player-meta-block dl {
    border: 1px solid #999;
}
.teamboard-player-points {
    border-color: #000;
    height: 100%;
}
/*.teamboard-player-points-list li:nth-child(odd) {
    background-color: #ccc;
}*/

/* Work iterations */

.iteration-work-iteration-items { font-size: 80%; }

.work-iteration-item.card-outline-success,
.work-iteration-item.card-outline-primary { border-left-width: 6px; }

.work-iteration-item.card-outline-success header,
.work-iteration-item.card-outline-primary header { border-radius: initial; }

.work-iteration-item header { padding: 0.5rem; }

.work-iteration-item aside { padding: 0.25rem 0.75rem; }

.work-iteration-item-meta { padding: 0 0.75rem; }

.work-iteration-item-children { padding: 0.5rem; }

.work-iteration-item-children-content { padding: 0.5rem 0.5rem 0 0.5rem; }

.work-iteration-item-children header { padding: 0.25rem 0.5rem; }

.work-iteration-item-child { margin-bottom: 0.5rem; }

.work-iteration-item-parent { margin-top: 0.5rem; }

.work-iteration-item-child header { padding: 0.25rem; }

.work-iteration-item-description { padding: 0.5rem; }

.work-iteration-item-description .card {
    max-height: 10em;
    overflow: auto;
}

.work-iteration-item-description .card .card-block { padding: 0.5rem 0.75rem; }

.work-iteration-work aside { padding: 0.25rem 0.75rem; }