@{
    Layout = "_EmptyLayout";
}

@section scripts
{
    @RenderSection("scripts", false)
}
    
@await Component.InvokeAsync(nameof(Navbar))

<div class="body-content">
    @RenderBody()
    <hr/>
</div>
<div class="container">
    <footer class="small">
        <p>
            &copy; @DateTime.Today.Year - Created by <a href="https://sebnilsson.com">Seb" Nilsson</a>
        </p>
    </footer>
</div>