@model WorkTeamBoardViewModel.Player.PlayerScore
@{
    var sumUnassignedPoints = Model.Points.Sum(x => x.Value);
}

<div class="teamboard-unassigned-score card card-outline-warning mb-2 pb-1">
    <h2 class="card-header card-warning h6 pt-1 pb-1 pl-2 pr-2">
        Unassigned Points
        @if (sumUnassignedPoints > 0)
        {
            <span class="badge badge-primary monospace">
                @sumUnassignedPoints.ToString(Formats.NumberTwoDecimals)
            </span>
        }
    </h2>

    <ul class="list-group list-group-flush">
        @foreach (var point in Model.Points)
        {
            <li class="list-group-item">
                @Html.Partial("TeamBoard/_PlayerScorePoint", point, new ViewDataDictionary(ViewData) { { "IncludeEarnedAt", true } })
            </li>
        }
    </ul>
</div>